:root{
    --fuenteHeader: "Merienda", cursive;
    --fuenteHeaderSize: 2rem;

    --colorFondoPagina: #eceff1;
    --colorPrimario: #1A1C1B;
    --colorSecundario: #4C4838;
    --colorTerciario: #221E15;
    --colorCuaternario: #ffbc0e;

}


/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem es igual a 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    margin: 0rem;
    font-family: var(--fuenteHeader);
    background-color: var(--colorFondoPagina);
   /* min-width: 400px;*/
}

/****************************************************/
/* CONTENEDOR LOGO, MENU, LOGIN REGISTER DEL HEADER */
.header {
    background-color: var(--colorPrimario);
    background-image: url(../img/header-izquierda.svg), url(../img/header-derecha.svg);
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: contain, contain;
    display: flex;
    align-items: center;
    padding: 3rem 5%;
    height: 0.1rem;
}

@media only screen and (min-width: 576px) {
    .header {
        padding: 5rem 10%;
    }
}
@media only screen and (min-width: 768px) {
    .header {
        height: 14rem;
        padding: 3rem 5%;
    }

}

@media only screen and (min-width: 900px) {
    .header {
        height: 17rem;
        padding: 1rem 3%;
        
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        height: 20rem;
        padding: 1rem 3%;
        
    }
}


/****************************************************/
/* HEADER LOGO   */


.header .header__logo{
    cursor: pointer;
    margin-right: auto;
}

.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .header__logo img{
    height: 6rem;
    width: auto;
    transition: all 0.3s;
}


.header .header__logo span {
    font-style: var(--fuenteHeader);
    font-size: 1.2rem;
    color: #eceff1;
}

.header .header__logo img:hover {
    transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
    .header .header__logo{
        margin-left: 8rem;
    }

    .header .header__logo img{
        height: 10rem;
    }

    .header .header__logo span {
        font-size: 1.5rem;
    }

    .header__logo {
        flex-direction: column;
    }


}

@media only screen and (min-width: 900px) {
    .header .header__logo{
        margin-left: 9rem;
    }

    .header .header__logo img{
        height: 12rem;
        
    }


}


@media only screen and (min-width: 1200px) {
    .header .header__logo{
        margin-left: 9rem;
    }
    .header .header__logo img{
        height: 15rem;
        
    }
    
    .header .header__logo span {
        font-size: 2rem;
    }

}

/****************************************************/
/* BARRA DE NAVEGACIÓN HEADER */

.header__nav {
    display: none;
}



.menu svg {
    height: 35px;
    width: 35px;
}   

@media only screen and (min-width: 576px) {
    .menu svg {
        height: 44px;
        width: 44px;
    } 
}


@media only screen and (min-width: 900px) {
    .header__nav {
        display: block;
        margin: 0 auto;
    }
    .header .header__nav {
        list-style: none;
    }

    .header .header__nav li{
        display: inline-block;
        padding: 0 1rem;    
    }

    .header .header__nav li:hover,
    .overlay a:hover{
        transform: scale(1.1);
    }

    .header .header__nav a {
        font-size: 1.4rem;
        color: #eceff1; 
    }

    .header .header__nav a:hover {
        color: var(--colorCuaternario);
    }

    .menu {
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    .header .header__nav li{
        display: inline-block;
        padding: 0 2rem;    
    }

    .header .header__nav a {
        font-size: 2rem;
    }
}

/****************************************************/
/* BOTONES INICIAR SESION Y REGISTRARTE*/
/*btn-header*/
.header__login {
    display: none;
}

@media only screen and (min-width: 768px) {
    .boton-login__texto {
        display: none;
    }

    .header__login {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

   /* .header .header__btn button {
        margin: 1.2rem;
        font-weight: 700;
        font-size: 1.5rem;
        color: #eceff1;
        background-color: var(--colorPrimario);
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    */

    
    .boton-login:hover,
    .header .menu svg:hover {
        color: #ffbc0e;
        transform: scale(1.1);
    }


    .boton-registrate {
        margin-right: 3rem;
        font-weight: 700;
        font-size: 1.5rem;
        color: #eceff1;
        padding: 1.5rem 2rem;
        background-color: var(--colorSecundario);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;

    }

    .boton-registrate:hover {
        color: #ffbc0e;
        transform: scale(1.1);
    }

    .boton-login {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        margin: 1.2rem;
        font-weight: 700;
        color: #eceff1;
        background-color: var(--colorPrimario);
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    .header__login {
        display: flex;
        align-items: center;
    }


    .boton-registrate {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .boton-login__texto {
        display: block;
        width: 8rem;
        
    }
    .header .header__btn button {
        margin: 1.2rem;
    }
}

/****************************************************/
/* Barra de Navegación Header "Movile"*/

.header a {
    text-decoration: none;  
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}


.header .overlay .overlay-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    width: 90%;
    margin: 0 auto;
}

.header .overlay a {
    padding: 1.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
    width: 100%;
}


.header .overlay .overlay-content img {
    height: 10rem;
}

.overlay-content__titulo {
    height: 3rem;
    font-size: 2rem;
    color: #eceff1;
    text-align: center;
}


.header .overlay .overlay-content hr {
    width: 95%;
    border: 1px solid #7a7a79;
   
}


.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    font-size: 3rem;
    width: 10%;
    text-align: center;
    position: fixed;
    right: 100%;
    
}

.mobile-menu {
    width: 0;
}


.overlay-content__login {
    display: flex;
    align-items: center;    
}

.overlay-content__registrar {
    display: flex;
    align-items: center;
}

.movile-login__Iniciar {
    display: flex;
    align-items: center;
    
}

.movile-login__Registrar {
    display: flex;
    align-items: center;

}

.overlay-content__nosotros {
    display: flex;
    align-items: center;
}

.overlay-content__menu {
    display: flex;
    align-items: center;
}

.overlay-content__delivery {
    display: flex;
    align-items: center;
}

.overlay-content__contacto {
    display: flex;
    align-items: center;
}



@media only screen and (min-width: 768px) {
    .overlay-content__login {
        display: none;
    }
    
    .overlay-content__registrar {
        display: none;
    }

}


/*
.header .overlay .close{
    position: absolute;
    top: 1rem;
    right: 0rem;
    font-size: 3rem;
}
*/
/*
@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 2rem;
    }
    
    .header .overlay .close{
        font-size: 4rem;
        top: 1.5rem;
        right: 3.5rem;
    } 
}*/

/**************************************************/
/* CONTENEDOR PAGINA WEB */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}